@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%); 
  --soft-red: hsl(0, 93%, 68%); 
  --dark-grayish-red: hsl(0, 6%, 24%);
  --off-white: hsl(0, 0%, 100%); 
  --accent-desaturated-red: hsl(0, 100%, 98%); 
  --accent-light-red: hsl(0, 80%, 86%); 
  --accent-red: hsl(0, 74%, 74%); 

}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(135deg, var(--off-white), var(--accent-desaturated-red));
}

main {
  width: 100vw;
}

.logo {
  padding: 2rem; 
}

.logo img {
  width: 100px;
}

.hero {
  height: 250px; 
  width: 100%;
  margin-bottom: 3rem;
}

.hero img {
  width: 100%;
  height: 100%;
}

.text {
  text-align: center;
  padding: 0 1rem; 
  margin-bottom: 2.5rem;
}

.text h1 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 2.5rem; 
  letter-spacing: 0.7rem;
  color: var(--dark-grayish-red); 
  line-height: 2.7rem;
}

.text h1 span {
  color: var(--desaturated-red); 
  font-weight: 300;
}

.text p {
  color: var(--desaturated-red);
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 14px;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: left; 
  align-items: center;
  margin-bottom: 4rem;
}

.input-submit {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: auto; 
  position: relative; 
}

.input-submit input {
  width: 90%;
  padding: 1rem; 
  border-radius: 2rem;
  border: 1px solid var(--accent-light-red); 
}

.input-submit input::placeholder {
  color: var(--accent-light-red); 
  font-weight: 800;
  opacity: 0.5;
}

#error-icon {
  display: none;
}

#error-icon.active {
  display: block;
  position: absolute; 
  right: 6.2rem; 
}

button {
  position: absolute; 
  right: 19px; 
  padding: 0.75rem 2rem; 
  border-radius: 2rem;
  background: linear-gradient(135deg, var(--accent-light-red), var(--accent-red));
  border: none; 
  outline: none; 
}

#error {
  margin-top: 0.5rem;
  color: var(--accent-red); 
  margin-right: auto; 
  padding-left: 3rem;
  font-size: 13px;
}